@use '../utils/variables';
@use '../utils/mixins';

footer {
	padding: 50px 24px 20px;
	background-color: variables.$footer-color;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.newsletter {
	width: 100%;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-around;

	& div {
		position: relative;
	}

	&__input {
		@include mixins.roundedEl;
		margin-right: 0.7em;
		color: variables.$primary-color;
	}

	&__error {
		margin-top: 0.5em;
		padding-left: 1.25em;
		color: variables.$primary-color;
		font-style: italic;
		font-size: 0.8em;
		position: absolute;
	}
}

.footer-menu {
	width: 100%;
	height: 160px;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	& li {
		width: 50%;
		padding: 0.6em 0 0.6em 3em;
		list-style: none;
		font-size: 0.9em;
	}
}

.socials {
	width: 100%;
	margin-bottom: 50px;
	padding: 0 1em;
	display: flex;
	justify-content: space-between;

	& img {
		width: 2em;

		&:hover {
			filter: invert(52%) sepia(30%) saturate(4852%) hue-rotate(336deg) brightness(96%)
				contrast(98%);
		}
	}
}

.footer-logo {
	margin-bottom: 40px;
}

.copyright {
	font-size: 0.75em;
	color: variables.$text-color;
}
