@use '../utils/variables';
@use '../utils/mixins';

.presentation {
	margin-top: 100px;

	&__header {
		margin-bottom: 50px;
		padding: 0 2em;

		& h2 {
			@include mixins.sectionTitle;
		}

		& p {
			@include mixins.text;
			text-align: center;
		}
	}

	&__container {
		padding-left: 1em;
	}

	&__article {
		margin-bottom: 50px;

		& h3 {
			height: 2.4em;
			display: flex;
			align-items: center;
			border-radius: 1.2em 0 0 1.2em;
			color: variables.$secondary-color;
			font-size: 1em;
			font-weight: 700;
			background-color: variables.$tertiary-color;
		}

		& span {
			width: 4em;
			height: 100%;
			margin-right: 1em;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 1.2em;
			background-color: variables.$primary-color;
			color: variables.$tertiary-color;
		}

		& p {
			@include mixins.text;
			padding-right: 1em;
		}
	}
}

@media screen and (min-width: 768px) {
	.presentation {
		padding: 0 100px;
	}
}

@media screen and (min-width: 1024px) {
	.presentation {
		@include mixins.laptopSectionPadding;
		display: flex;
		flex-direction: row;

		&__header {
			width: 50%;
			padding: 0 50px 0 0;

			& h2 {
				text-align: start;
			}

			& p {
				text-align: start;
			}
		}

		&__container {
			width: 50%;

			padding-left: 50px;
		}

		&__article h3 {
			background-color: white;
		}
	}
}

@media screen and (min-width: 1440px) {
	.presentation {
		@include mixins.desktopSectionPadding;
	}
}
