@use 'sass:color';
@use '../utils/variables';
@use '../utils/mixins';

.button {
	@include mixins.roundedEl;
	background-color: variables.$primary-color;
	font-weight: 700;
	color: variables.$tertiary-color;

	&--shadowed {
		box-shadow: 0 0.7em 1.3em -0.6em variables.$primary-color;
	}

	&--reversed {
		color: variables.$primary-color;
		background-color: white;
		box-shadow: 0 0.7em 1.3em -0.6em color.adjust(variables.$primary-color, $lightness: -10%, $saturation:
					-30%);
	}
}

@media screen and (min-width: 1024px) {
	.button {
		transition: background-color ease-in-out 200ms;

		&:hover {
			background-color: color.scale(variables.$primary-color, $lightness: 30%);
			cursor: pointer;
		}

		&--reversed {
			transition: color ease-in-out 200ms;

			&:hover {
				color: color.scale(variables.$primary-color, $lightness: 50%);
				background-color: white;
				cursor: pointer;
			}
		}
	}
}
