@use '../utils/variables';
@use '../utils/mixins';

.conclusion {
	padding: 65px 40px 85px;
	background-color: variables.$primary-color;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	isolation: isolate;

	&::before {
		content: '';
		position: absolute;
		inset: 0 0 0 0;
		z-index: -1;
		background-image: url('../../../images/bg-tablet-pattern.svg');
		background-repeat: no-repeat;
		background-position: -18em 2em;
		background-size: 40em;
		opacity: 0.07;
	}

	& h2 {
		font-size: 2.3em;
		text-align: center;
	}
}

@media screen and (min-width: 768px) {
	.conclusion::before {
		background-image: url('../../../images/bg-tablet-pattern.svg'),
			url('../../../images/bg-tablet-pattern.svg');
		background-position: left -10em top 5em, right -10em top -18em;
		background-size: 30em;
	}
}

@media screen and (min-width: 1024px) {
	.conclusion {
		@include mixins.laptopSectionPadding;
		padding-top: 40px;
		padding-bottom: 40px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		&::before {
			background-position: left -5em top 3em, right -10em top -18em;
		}

		& h2 {
			max-width: 450px;
			text-align: start;
		}
	}
}

@media screen and (min-width: 1440px) {
	.conclusion {
		@include mixins.desktopSectionPadding;

		&::before {
			background-position: left 5em top 3em, right 5em bottom 3em;
		}
	}
}
