@use '../utils/variables';
@use '../utils/mixins';

$slidesPositions: 0, 1, 2, 3;

@mixin mobileSlides {
	@each $slidePosition in $slidesPositions {
		&-#{$slidePosition} {
			left: 100% * $slidePosition;
		}
	}
}

@mixin desktopSlides {
	@each $slidePosition in $slidesPositions {
		&-#{$slidePosition} {
			left: 40% * $slidePosition;
		}
	}
}

.testimonials {
	margin-bottom: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;

	& h2 {
		@include mixins.sectionTitle;
	}

	&__carousel {
		display: block;
		width: 100%;
		height: 350px;
		user-select: none;
		position: relative;
	}

	&__viewport {
		height: 100%;
		touch-action: pan-y;
		overflow: hidden;
		position: relative;
	}

	&__slider {
		position: absolute;
		left: 0;
		width: 100%;
		margin-top: 70px;
		cursor: grab;

		&.smoothTransition {
			transition: transform ease-in-out 300ms;
		}

		&.grabbing {
			cursor: grabbing;
		}
	}

	&__slide {
		position: absolute;
		pointer-events: all;
		width: 100%;
		height: 250px;
		padding: 0 1em;

		@include mobileSlides;

		&-content {
			height: 100%;
			padding: 3em 0 1.5em 0;
			background-color: variables.$testimonial-bg;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		& img {
			width: 4.4em;
			margin-bottom: 12px;
			position: absolute;
			top: 0;
			transform: translateY(-50%);
		}

		& h3 {
			margin-bottom: 8px;
			color: variables.$secondary-color;
			font-size: 1em;
		}

		& p {
			@include mixins.text;
			text-align: center;
			padding: 0 2em;
		}
	}

	&__navigation {
		width: 100vw;
		margin-bottom: 50px;
		display: flex;
		justify-content: center;

		&-dot {
			width: 0.5em;
			height: 0.5em;
			margin: 0 2px;
			background-color: transparent;
			border: solid 0.1em variables.$primary-color;
			border-radius: 50%;

			&--selected {
				background-color: variables.$primary-color;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.testimonials__slide-content {
		padding-right: 100px;
		padding-left: 100px;
	}
}

@media screen and (min-width: 1024px) {
	.testimonials {
		&__slide {
			width: 40%;
			padding: 0 0.5em;

			@include desktopSlides;

			&-content {
				padding-right: 20px;
				padding-left: 20px;
			}
		}

		&__navigation {
			display: none;
		}
	}
}
