$primary-color: hsl(12, 88%, 59%);
$secondary-color: hsl(228, 39%, 23%);
$tertiary-color: hsl(13, 100%, 96%);
$text-color: hsl(227, 12%, 61%);
$footer-color: hsl(233, 12%, 13%);
$testimonial-bg: hsl(0, 0%, 98%);

$laptop-section-padding: 0 100px;
$desktop-section-padding: 0 200px;
